body {
    font-family: "montserrat ";
}

h1 {
    font-family: 'montserrat-black, sans-serif';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;

}

h2 {
    font-family: "montserrat-bold ";
    font-size:3rem;
    line-height: 1.5;
}


h3 {
    font-family: "montserrat-Bold";

}

#title {
    background-color: #051d35;
    color: #fff;

}

.container-fluid {
    padding: 7% 15%;

}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}

/* navigation bar*/

.navbar {
    padding: 0 0 4.5rem;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "montserrat ";

}

/* title-imagem */

.tile-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 21%;
}

/*button*/

.download-button {
    margin: 5% 3% 5% 0;
}


/*section features*/

#features {
    padding: 7% 15%;
}

.features-box {
    text-align: center;
    padding: 5%;

}

.icon {
    color: #ef8172;
    padding-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/*testimonials section */

#testimonials {
    padding: 5% 15%;
    text-align: center;
    background-color: #ef8172 ;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

.carousel-item {
    padding: 5% 15%;
}

#press {
    padding-bottom: 3%;   
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

